<%- include('partials/header') -%>

<!-- INDEX/HOME Main  -->
<section class="bg-black text-light p-5 p-md-0 pt-md-5 text-center text-sm-start">
  <div class="container py-5">

      <div class="d-sm-flex align-items-center justify-content-between">

        <div class="container text-center">
          <h1 >Welcome to <span class="text-warning"> SocialAyy!</span></h1>
          <p class="lead m-4">
            An exclusive social media experience free from marketing and influencers.
          </p>

          <a href="/login" class="btn btn-warning btn-lg me-1" >Login!</a>
          <!-- <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#login">Login!</button> -->

          <a href="/signup" class="btn btn-warning btn-lg ms-1" >Signup!</a>
          <!-- <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#signUp">Signup!</button> -->
        </div>

        <!-- <img class="img-fluid w-50 d-none d-sm-block" src="/imgs/image-share.svg" alt=""> -->
        <img class="img-fluid w-50 d-none d-sm-block" src="/css/social-3.png" alt="">

      </div>
      <!-- <img class="img-fluid w-50 mt-5 d-sm-none" src="/imgs/image-share.svg" alt=""> -->
      <img class="img-fluid w-50 mt-3 d-sm-none" src="/css/social-3.png" alt="">

  </div>
</section>



<!-- Modals -->

<!-- Login Modal -->
<!-- <div class="modal fade" id="login" tabindex="-1" >
<div class="modal-dialog">
    <div class="modal-content"> 
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <form action="/#login" method="POST">

           <div class="mb-3">
            <label for="first-name" class="col-form-label">First Name:</label>
            <input type="text" class="form-control" id="">
          </div>

          <div class="mb-3">
            <label for="last-name" class="col-form-label">Last Name:</label>
            <input type="text" class="form-control" id="">
          </div> 

          <div class="mb-3">
            <label for="inputEmail" class="col-form-label">Email Address:</label>
            <input type="email" class="form-control" id="inputEmail" name="email">
          </div>

          <div class="mb-3">
            <label for="inputPassword" class="col-form-label">Password:</label>
            <input type="password" class="form-control" id="inputPassword" name="password">
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </div>
  </div>
</div> -->





<!-- Signup Modal -->
<!-- <div class="modal fade" id="signUp" tabindex="-1" >
    <div class="modal-dialog">

      <div class="modal-content"> 
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <p class="lead">Fill out this form and we will get back to you</p>
          <form action="">

            <div class="mb-3">
              <label for="first-name" class="col-form-label">First Name:</label>
              <input type="text" class="form-control" id="first-name">
            </div>

            <div class="mb-3">
              <label for="last-name" class="col-form-label">Last Name:</label>
              <input type="text" class="form-control" id="first-name">
            </div>

            <div class="mb-3">
              <label for="email" class="col-form-label">Email:</label>
              <input type="text" class="form-control" id="first-name">
            </div>

            <div class="mb-3">
              <label for="phone" class="col-form-label">Phone:</label>
              <input type="text" class="form-control" id="first-name">
            </div>

          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>

      </div>
    </div>
  </div> -->
    

<%- include('partials/footer') -%>