<%- include('partials/header') -%>



<!-- INDEX/HOME -->
<section class="bg-black text-light p-5 p-md-0 py-md-5 text-center text-sm-start">
  <div class="container pt-5 pt-sm-2">

    <div class="d-sm-flex align-items-center justify-content-between text-light">

      <div class="container text-center">
        <h1 >Welcome to <span class="text-warning"> SocialAyy!</span></h1>
        <p class="lead my-4">
          Already a member? Login below!
        </p>

        <div class="container">
          <div class="row justify-content-center text-light">
            <section class="col-6 mt-5 mt-sm-1">
              <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
              <div class="alert alert-danger"><%= el.msg %></div>
              <% }) %> <% } %> <% if (locals.messages.info) { %> <%
              messages.info.forEach( el => { %>
              <div class="alert alert-info"><%= el.msg %></div>
              <% }) %> <% } %>
        
              <h3 class="mb-4">Login:</h3>
              <form action="/login" method="POST">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Email address:</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    name="email"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password:</label>
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    name="password"
                  />
                </div>
                <button type="submit" class="btn btn-warning">Submit</button>
              </form>
            </section>
          </div>
      
      
        </div>

        <!-- <a href="/login" class="btn btn-primary btn-lg" >Login!</a> -->
        <!-- <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#login">Login!</button> -->

        <!-- <a href="/signup" class="btn btn-primary btn-lg" >Signup!</a> -->

        <!-- <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#signUp">Signup!</button> -->
      </div>

      <img class="img-fluid w-50 d-none d-sm-block" src="/css/social-3.png" alt="">

    </div>

  </div>


</section>


<!-- Login Modal -->
<div class="modal fade" id="login" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content"> 
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <form action="/login" method="POST">
          <div class="mb-3">
            <label for="inputEmail" class="col-form-label">Email Address:</label>
            <input type="email" class="form-control" id="inputEmail" name="email">
          </div>

          <div class="mb-3">
            <label for="inputPassword" class="col-form-label">Password:</label>
            <input type="password" class="form-control" id="inputPassword" name="password">
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </div>
  </div>
</div>

<%- include('partials/footer') -%>
