* {
  box-sizing: border-box;
  border-collapse: collapse;
}

/* HTML */
html {
  font-size: 62.5%;
}

body {
  background-color: rgb(43, 48, 53);
  /* color: white; */
}


/* button{
  max-width: 30%;
} */