* {
  box-sizing: border-box;
  border-collapse: collapse;
}

/* HTML */
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(33, 37, 41);
 
}

h1,h2{
  font-family: cursive;
}



/*NAV*/

#siteName{
  font-family: cursive;
}

.nav-item{
  color: yellow;
}





/*POSTS*/

#post-title{
  font-weight: bold;
}